{% extends "posts/base.html" %}
{% block title %}
Home
{% endblock %}


{% block body %}
{# use pagination here #}
  <div class="w3-content w3-margin-top" style="max-width: 1000px;">

    <div class="w3-white w3-card w3-padding">
      {% for post in all_posts %}
        <div class="w3-border-bottom w3-margin-bottom" style="padding-bottom:20px; padding-top:20px;">
          <div class="w3-row w3-padding-top">
            <a href="{% url 'posts:detail' post.id %}" class="w3-large opensans">{{post.title}}</a>
          </div>
          <div class="w3-row w3-margin-top w3-small w3-text-gray">
            <a href="{% url 'posts:profile' post.owner.id %}" class="w3-text-teal">{{post.owner.first_name}} {{post.owner.last_name}}</a>
            {% if post.is_modified %}
              <br /><span>Updated {{post.last_modified_on}}</span>
            {% endif %}
              <br><span>Posted {{post.created_on}}</span><br />

            <p class="w3-hide-large w3-hide-medium tsjustify w3-small w3-text-black">{{post.content}}</p>
            <p class="w3-hide-small tsjustify w3-medium w3-text-black">{{post.content}}</p>
            <a href="{% url 'posts:detail' post.id %}" class="w3-margin w3-hover-text-black"><i class="material-icons">comment</i></a>
            {% if post.owner == user%}
              <a href="{% url 'posts:editpost' post.id %}" class="w3-margin w3-hover-text-black"><i class="material-icons">edit</i></a>
              <a href="{% url 'posts:deletepost' post.id %}" class="w3-margin w3-hover-text-black"><i class="material-icons">delete</i></a>
            {% endif %}
            <p>
              <a href="{% url 'posts:detail' post.id %}">
                {% if post.numberofcomments > 1 %}
                  {{post.numberofcomments}} Comments
                {% elif post.numberofcomments == 1 %}
                  1 Comment
                {% endif %}
              </a>
            </p>
          </div>
        </div>
      {% endfor %}
      {% include "posts/pagination.html" %}
    </div>
  </div>


{% endblock %}
